### 1 Load Data and check cleaness

In [69]:
import pandas as pd
import numpy as np
import os
import urllib3
from tqdm import tqdm

cwd = os.getcwd()

In [71]:
# Read in data
post = pd.read_csv(cwd+'/data/post_metrics_and_comments.csv')
htag = pd.read_csv(cwd+'/data/hashtag_top_appearances.csv')
rawp = pd.read_csv(cwd+'/data/raw_post_metrics.csv')

#### What's the size of data?

In [72]:
print('post_metrics_and_comments.csv has {} rows and {} columns'.format(post.shape[0],post.shape[1]))
print('hashtag_top_appearances.csv has {} rows and {} columns'.format(htag.shape[0],htag.shape[1]))
print('raw_post_metrics.csv has {} rows and {} columns'.format(rawp.shape[0],rawp.shape[1]))

post_metrics_and_comments.csv has 11637 rows and 11 columns
hashtag_top_appearances.csv has 25062 rows and 2 columns
raw_post_metrics.csv has 70532 rows and 5 columns

#### What does the data look like?

In [73]:
post.head(1)

,post_url,username,date_posted,img_urls,caption,max_likes,max_comments,max_views,followers,following,concatenated_comments
0,https://www.instagram.com/p/B-y2oOeDpj2/,064_steady,2020-04-10,{https://finesse-instagram-post-images.s3-us-w...,온라인개학으로 아침마다 아이들에게 모닝콜을 해줄 수 있어서 행복합니다. 하하하하😭 ...,1019,38,NaN,8423,697,@_o9.02 가입하자 연재야😘|아고 ㅠㅠㅠㅠ 힘드실텐데 아자아자 화이팅입니다 !!...

In [74]:
htag.head(3)

                                   post_url  days_in_hashtag_top_section
0  https://www.instagram.com/p/B-zJQlUI6uN/                           38
1  https://www.instagram.com/p/B-cuVYrJncn/                           36
2  https://www.instagram.com/p/B_CHJzXDeNF/                           33

In [75]:
rawp.head(3)

,post_url,num_likes,num_comments,num_views,date_time_collected
0,https://www.instagram.com/p/B_PNBlGDTYQ/,647,15,NaN,2020-04-21 21:00:41
1,https://www.instagram.com/p/B-jWhHKjDsa/,925,105,NaN,2020-04-21 21:11:39
2,https://www.instagram.com/p/B-eNiazDOXp/,987,73,NaN,2020-04-21 21:11:42

#### Seems like post_url is the key here between tables
#### Is the post_url well cleaned (no space before and after), and how many distinct keys are there?

In [76]:
print(len(set(post.post_url)))
len(set(post.post_url))==len(set(post.post_url.str.strip()))

11637

True

In [77]:
print(len(set(htag.post_url)))
len(set(htag.post_url))==len(set(htag.post_url.str.strip()))

25062

True

In [78]:
print(len(set(rawp.post_url)))
len(set(rawp.post_url))==len(set(rawp.post_url.str.strip()))

25077

True

#### So rawp includes more posts than htag, while htag includes more than post.
#### But is post_url in post a child collection of htag, and is htag a child collection of rawp?

In [79]:
htag.post_url.isin(rawp.post_url).sum()==len(htag.post_url)

True

In [80]:
post.post_url.isin(htag.post_url).sum()==len(post.post_url)

True

#### So the answer is yes. rawp > htag > post.
#### Given the fact that the first table post is the main file and contains the most crucial info,
#### I will join htag into post (and ignore rawp for now)

In [81]:
post = post.merge(htag)

In [84]:
cwd = os.getcwd()
if not os.path.exists(cwd+'/data/img/'):
    os.makedirs(cwd+'/data/img/')

http = urllib3.PoolManager()

urls = list(post.img_urls.str.strip('{}'))
n =1
print("downloading imgs with urllib")
for url in tqdm(urls):
    r = http.request('GET',url)
    Name =str(n) 
    n += 1
    with open(cwd+"/data/img/file"+Name+".jpg", "wb") as img:
        img.write(r.data)

  0%|          | 0/11637 [00:00<?, ?it/s]

downloading imgs with urllib

100%|██████████| 11637/11637 [33:14<00:00,  5.83it/s]